header, main, footer {
    margin-left: 300px;
}

img[alt="Admin Avatar"] {
    margin: 1rem auto;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        margin-left: 0;
    }
}